<header class='header'>
	<nav>
		
		<ul>
			<li><a href="/" class='home'>Main Line Trainer</a></li>
			<li><a href="/lines">Lines</a></li>
			<li><a href="/lines/editor">Line Editor</a></li>
		</ul>
	</nav>
</header>