<header class='header'>
	<nav>
		
		<ul>
			<li><a href="/" class='home'>Voss Tech</a></li>
			<li><a href="/trainer">Trainer</a></li>
			<li><a href="/lines">Lines</a></li>
			<li><a href="/lines/editor">Line Editor</a></li>
			<li><a href="/lichess">Lichess Stuff</a></li>
			<li><a href="/vossbot">Voss bot</a></li>
			<li><a href="/comingsoon">Toddler Varient</a></li>
		</ul>
	</nav>
</header>