<h1>Line Viewer</h1>
<script src='../public/scripts/chess.js'></script>
<script src='../public/scripts/board.js'></script>
<link rel="stylesheet" href="../public/css/board.css">

<div id='parent' display='flex'>
	<div id='boardDiv' float='left'>
		<div id='board'></div>
	</div>
</div>

<script>

	const board = new Board({width: 400});

	fetch('https://vosstech.herokuapp.com/vossbot/getmove').then(res => {
		console.log(res);
	});

</script>
