<h1>Line Viewer</h1>
<script src='../public/scripts/chess.js'></script>
<script src='../public/scripts/board.js'></script>
<link rel="stylesheet" href="../public/css/board.css">

<div id='parent' display='flex'>
	<div id='boardDiv' float='left'>
		<div id='board'></div>
	</div>
</div>

<script>

	const board = new Board({width: 400});

	document.addEventListener('boardMove', () => {
		var fetchUrl = 'https://vosstech.herokuapp.com/vossbot/getmove?fen=';
		fetchUrl += board.getFen();
		fetch(fetchUrl).then((res) => {
			return res.text();
		}).then((data) => {
			console.log(data);
			board.move(data);
		});
	})
	

</script>
