<h1>Line Viewer</h1>
<script src='../public/scripts/chess.js'></script>
<script src='../public/scripts/board.js'></script>
<link rel="stylesheet" href="../public/css/board.css">

<div id='parent' display='flex'>
	<div id='boardDiv' float='left'>
		<div id='board'></div>
		<button id='Back' class='BoardButton'>Back</button>
		<button id='Next' class='BoardButton nextButton' float='right'>Next</button>
	</div>
</div>

<script>

	const board = new Board({width: 400, locked: true});

</script>
